@font-face {
    font-family: Comfortaa;
    src: url(comfortaa.ttf);
}
body{
    background-image: url(mcrtx4.jpg);
    max-width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}
.card{
    position: absolute;
    border-radius: 32px;
    background: #060621;
    padding: 32px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32px;
}
img{
    width: 128px;
}
h1{
    font-family: Comfortaa;
}